<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/814a0fdb0b.js"
      crossorigin="anonymous"
    ></script>
    <title>Create Event</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="flex space-between">
          <div>
            <a href="/" class="brand">Event Management</a>
          </div>
          <div class="right-nav">
            <a href="/events" class="events">Events</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="container">
      <h1 class="create-event">Please Fill the details below</h1>
      <div class="event-form">
        <form action="/events" method="POST">
          <input
            type="text"
            name="title"
            id=""
            placeholder="Enter the event title"
          />
          <textarea
            name="summary"
            id=""
            cols="30"
            rows="3"
            placeholder="Enter the details of the event"
          ></textarea>
          <input
            type="text"
            name="host"
            id=""
            placeholder="Enter the host name"
          />
          <input
            type="date"
            name="start_date"
            id=""
            placeholder="Enter the start date"
          />
          <input
            type="date"
            name="end_date"
            id=""
            placeholder="Enter the end date"
          />
          <input
            type="text"
            name="category"
            id=""
            placeholder="Enter the category"
          />
          <input
            type="text"
            name="location"
            id=""
            placeholder="Enter the location"
          />
          <input type="submit" name="" id="" value="Create Event" />
        </form>
      </div>
    </main>
    <footer>
      <div class="container">
        <nav class="footer-nav">
          <small>Events&copy;All Rights reserved pvt. ltd.</small>
        </nav>
        <div class="flex center">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
